    
    @use '../utils/variables' as v;
    @use '../utils/functions' as f;
    @use '../utils/mixins' as *;

    .icon {
        display: inline-block;
        width: 35px;
        height: 35px;
        margin: 0 2px;
        color: f.getColor('secondary');
        background-color: f.getColor('bg-color');
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all .2s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: f.getColor('white');
            background-color: f.getColor('primary');
        }

        @include queryMin('md') {
            width: 40px;
            height: 40px;            
        }

        &--nav:hover {
            transform: rotate(360deg);
        }

        &--toggle {
            display: block;
            
            @include queryMin('headerbk') {
                display: none;
            }
        }

        &--card-right {
            position: absolute;   
            top: 10px;    
            right: 0;
            transform: translateX(70px);
        }

        &--card-left {
            position: absolute;   
            top: 10px; 
            left: 0;   
            transform: translateX(-70px);
        }

        &--float {
            position: absolute;
            top: 25px;
            right: 13px;
            background-color: f.getColor('white');

            @media (min-width: 580px) {
                right: 20px;
            }
        }
    }
