    
    @use '../utils/variables' as v;
    @use '../utils/functions' as f;
    @use '../utils/mixins' as *;
 
    * {
         box-sizing: border-box;
    }

    html {
         scroll-behavior: smooth;
         overflow-x: hidden;
    }
     
    body {
         margin: 0;
         font-family: 'Nunito', sans-serif;
         scroll-behavior: smooth;
    }

    a {
          color: f.getColor('secondary');
         text-decoration: none;
    }
 
    ul{
         list-style-type: none;
    }

    h1, h2, h3, h4, h5 {
         margin: 0;
    }

    p {
        margin: 0;
    }

    input {
         border: none; 
    }

    textarea {
         resize: none;
         border: none; 
    }

    span {
         padding: 0;
    }