
    @use '../utils/variables' as v;
    @use '../utils/functions' as f;
    @use '../utils/mixins' as *;
    
    .header {
        position: fixed;
        z-index: 60;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 290px;
        height: 60px;
        display: flex;
        background-color: f.getColor('white');
        box-shadow: v.$shadow;
        outline: v.$outline;

        @include queryMin('headerbk'){
            height: 70px;
            align-items: center;
        }
    
        &-nav {
            width: 100%;
            height: inherit;
            max-width: 1660px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
    }
    
    .nav-list {
        position: absolute;
        z-index: 50;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 60.45px;
        padding: 15px 15px;
        background-color: f.getColor('white');
        outline: v.$outline;
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .2s ease-in-out;

        @include queryMin('headerbk') {
            position: relative;
            margin-top: 0;
            padding: 0;
            clip-path: none;
            outline: none;
            width: max-content;
            height: inherit;
            display: flex;
            align-items: center;
        }

        &__item {
            width: 100%;
            display: block;
            margin-bottom: 5px;
            padding: 8px 8px; 
            color: f.getColor('text-color');
            background-color: f.getColor('bg-color');
            border-radius: 5px;
            transition: all;

            @include queryMin('headerbk') {
                width: max-content;
                background-color: transparent;
                margin: 0 5px 0 5px;
                padding: 5px 10px;
                display: flex;
                justify-content: center;
            }

            &:hover {
                color: #fff;
                background-color: f.getColor('primary'); 
            }

            &--active {
                color: #fff;
                background-color: f.getColor('primary');
            }
        }
    }

    .nav-list--active {
        clip-path: polygon(0px 0px, 100% 0px, 100% 101%, 0px 101%);
    }

    .brand {
        margin-left: 15px;
        color: f.getColor('secondary');
        line-height: 60px;
        font-size: 1.5rem;
        font-weight: nth(v.$weights, 5);

        @include queryMin('headerbk'){
            margin-left: 30px;
            line-height: 70px;
        }
    
        &__icon {
            margin-right: 3px;
            color: f.getColor('primary');
        }
    }
    
    .nav-icons {
        margin-right: 15px;
        color: f.getColor('secondary');
        display: flex; 
        align-items: center;
        
        @include queryMin('headerbk'){
            margin-right: 30px;
            line-height: 70px;
            gap: 5px;
        }
    }